{% extends "layout.html" %}
{% load snow %}


{% block content %}
    <div class="snow-container">
        {# 一级菜单   #}
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                    <em>用户列表</em>
                </div>

                <div class="panel-body">

                    body
                </div>

                       <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                    </ul>

            </div>

        </div>

        <div class="snow-container">
            {# 二级菜单   #}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        <em>角色列表</em>
                    </div>
                    <div class="panel-body">
                        body
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="text-danger">
                            <td>角色名称</td>
                            <td>操作</td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>VTO</td>
                            <td><input type="checkbox"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
            {# 三级级菜单   #}
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        <em>三级菜单</em>


                    </div>

                </div>
            </div>


        </div>


    </div>
{% endblock content %}